.dashboard-layout {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 20px;
  padding: 20px;
  align-items: start;
  .enroll-link {
  color: #4a6cf7;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  position: relative;
  z-index: 9999;   /* ✅ VERY IMPORTANT */
}

.table-container {
  position: relative;
  z-index: 9999;
}
}

/* LEFT SIDE */
.dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* RIGHT SIDE */
.dashboard-right {
  position: sticky;
  top: 20px;
}

@media (max-width: 1024px) {

  .dashboard-layout {
    grid-template-columns: 1fr;
  }

  .dashboard-right {
    position: static;
  }

}