.profile-container {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.profile-card {
  background: rgb(244, 247, 251);
  width: 800px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* HEADER */
.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #4a6cc2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
}

.enroll-no {
  color: #4a6cf7;
  font-weight: 500;
}

/* DETAILS GRID */
.profile-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.detail-box {
  background: #e1eff6;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.detail-box label {
  font-size: 13px;
  color: gray;
  margin-bottom: 5px;
}

.detail-box span {
  font-weight: 600;
}