html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
}

/* login container */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}